

.hari-portfolio-root-element {
    width: 100%;
    height: 100%;
    padding-inline: 20px;
};

.portfolio-section-one {
    display: flex;
    justify-content: space-between;
    font-size: medium;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 30px;

    @media screen and (max-width: 600px) {
        justify-content: center;
        font-size: x-large;
    }
};

.portfolio-section-one-column-two {
    display: flex;
    column-gap: 30px;

    span:hover {
        cursor: pointer;
        opacity: 0.7;
    }

    @media screen and (max-width: 600px) {
        display: none;
    }
};

.portfolio-section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
};

.ecosystem-element {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
    max-width: 100%;
    overflow-x: auto;
}

.ecosystem-element-item {
    min-width: 300px;
    max-height: 300px;
    background-color: #000;
    border-radius: 5px;
    color: #FFF;
    padding: 10px;
    box-shadow: 0.1px 0.1px 10px 0.1px #000;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.academy-element {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
    max-width: 100%;
    overflow-x: auto;
}

.academy-element-item {
    min-width: 300px;
    background-color: #000;
    border-radius: 5px;
    color: #FFF;
    padding: 10px;
    box-shadow: 0.1px 0.1px 10px 0.1px #000;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.certification-element {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
    max-width: 100%;
    overflow-x: auto;
}

.certification-element-item {
    min-width: 300px;
    max-height: 300px;
    background-color: #000;
    border-radius: 5px;
    color: #FFF;
    padding: 10px;
    box-shadow: 0.1px 0.1px 10px 0.1px #000;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.portfolio-profile-picture {
    scale: 1;
    border-radius: 50%;
    box-shadow: 0.1px 0.1px 10px 0.1px #000;
}

.portfolio-section-two-portfolio-name {
    font-size: 8rem;
    font-family: Inter, sans-serif;
    line-height: 98px;
    letter-spacing: 0.34px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    animation: name-animation 4s alternate-reverse infinite;

    @media screen and (max-width: 840px) {
        font-size: 3rem;
        line-height: normal;
    }

    @media screen and (max-width: 300px) {
        font-size: 1rem;
        line-height: normal;
    }
};

@keyframes name-animation {
    0% {
        scale: 0.8;
        opacity: 0.8;
    }
}

.portfolio-title-element {
    font-size: 3rem;
    font-family: Inter, sans-serif;
    line-height: 98px;
    letter-spacing: 0.34px;
    font-weight: 700;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #002C54;

    @media screen and (max-width: 840px) {
        font-size: 1.5rem;
        line-height: normal;
    }
};

.portfolio-skills-element {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 30px;
};

.portfolio-skills-element-item {
    background-color: #000;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0.1px 0.1px 10px 0.1px #000;
    padding-block: 3px;

    & span {
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 700;
        color: #FFF;
    }
};

.portfolio-work-experience-element {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
}

.portfolio-work-experience-element-item {
    background-color: #000;
    border-radius: 5px;
    color: #FFF;
    padding: 10px;
    box-shadow: 0.1px 0.1px 10px 0.1px #000;
}